/* #cursor {} */

#game:focus #cursor {
  width: 2px;
  height: 2rem;
  background: var(--primaryColor);
  position: fixed;
  top: 140px;
  left: 2px;
  animation: blink .3s infinite;
}

#game.over #cursor {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
