/* Секция стилей для слов */
#words {
  font-size: 2rem;
  filter: blur(5px);
  color: var(--textSecondary);
  display: flex;
  flex-wrap: wrap;
}

#game:focus #words {
  filter: blur(0)
}

.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}


/* Секция стилей для самого блока с тестом */
div#game {
  line-height: 37px;
  height: 111px;
  overflow: hidden;
  position: relative;
}

div#game:focus {
  outline: 0;
}

#info {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Буквы  */
.letter.correct {
  color: #fff
}

.letter.incorrect {
  color: #f55
}


/* Баннер для фокусировки на блоке с кодом */

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}

/* После конца игры */
#game.over #words {
  opacity: .5;
  filter: blur(0);
}

#game.over #focus-error {
  display: none;
}

#game .result-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  transition: all 0.5s ease;
}

#game.over .result-wrapper {
  visibility: visible;
  opacity: 1;
}

.stats {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: 1px solid var(--textPrimary);

}

#cpm {
  font-size: 3rem;
}

#cpm span {
  font-size: 1rem;
}

#result-text {
  font-size: 2rem;
  font-weight: 100;
}

#game.over #words {
  display: none;
}

main:has(#game.over) #header {
  visibility: hidden;
}
