/* Секция стилей для слов */
#otta_words {
  font-size: 2rem;
  filter: blur(5px);
  color: var(--textSecondary);
  display: flex;
  flex-wrap: wrap;
}

#otta_game:focus #otta_words {
  filter: blur(0)
}

.otta_word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}


/* Секция стилей для самого блока с тестом */
div#otta_game {
  line-height: 37px;
  height: 111px;
  overflow: hidden;
  position: relative;
  /* padding: 3rem 0; */

  /* border-top: 3px solid white; */
  /* border-bottom: 3px solid white; */
}

div#otta_game:focus {
  outline: 0;
}

#otta_info {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Буквы  */
.otta_letter.otta_correct {
  color: #fff
}

.otta_letter.otta_incorrect {
  color: #f55
}


/* Баннер для фокусировки на блоке с кодом */

#otta_focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#otta_game:focus #otta_focus-error {
  display: none;
}

/* После конца игры */
#otta_game.otta_over #otta_words {
  opacity: .5;
  filter: blur(0);
}

#otta_game.otta_over #otta_focus-error {
  display: none;
}

#otta_game .otta_result-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  transition: all 0.5s ease;
}

#otta_game.otta_over .otta_result-wrapper {
  visibility: visible;
  opacity: 1;
}

.otta_stats {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: 1px solid var(--textPrimary);

}

#otta_cpm {
  font-size: 3rem;
}

#otta_cpm span {
  font-size: 1rem;
}

#otta_result-text {
  font-size: 2rem;
  font-weight: 100;
}

#otta_game.otta_over #otta_words {
  display: none;
}

main:has(#otta_game.otta_over) #otta_header {
  visibility: hidden;
}
