/* Секция стилей для слов */
#words {
  font-size: 2rem;
  filter: blur(5px);
  color: var(--textSecondary)
}

#game:focus #words {
  filter: blur(0)
}

.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}


/* Секция стилей для самого блока с тестом */
div#game {
  line-height: 35px;
  height: 114px;
  overflow: hidden;
  position: relative;
}

div#game:focus {
  outline: 0;
}

/* Буквы  */
.letter.correct {
  color: #fff
}

.letter.incorrect {
  color: #f55
}


/* Баннер для фокусировки на блоке с кодом */

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}
